body {
  position: relative;
  width: 70%;
  margin: 0 auto;
  font-family: 'helvetica';
}

.owl-carousel {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: red;
  color: white;
  font-size: 40px;
}

